


<div class="col-md-3">

    <a href="/WriterPanelMessage/NewMessage" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

    <div class="card">

        <div class="card-header">
            <h3 class="card-title">Klasörler</h3>
        </div>

        <div class="card-body p-0">

            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">

                    <a href="/WriterPanelMessage/Inbox" class="nav-link">

                        <i class="fas fa-inbox"></i> Gelen Kutusu
                        <span class="badge bg-primary float-right">@ViewBag.Count4</span>



                    </a>

                </li>
                <li class="nav-item">

                    <a href="/WriterPanelMessage/Sendbox" class="nav-link">

                        <i class="far fa-envelope"></i> Gönderilenler
                        <span class="badge bg-success float-right">@ViewBag.Count3</span>
                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-file-alt"></i> Taslaklar
                       
                    </a>

                </li>

                <li class="nav-item">

                    <a href="/Contact/ContactTrashBox" class="nav-link">

                        <i class="fas fa-filter"></i> Çöp Kutusu


                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-trash-alt"></i> Arşiv

                    </a>

                </li>

            </ul>

        </div>

        <!-- /.card-body -->

    </div>

    <!-- /.card -->

    <div class="card">

        <div class="card-header">

            <h3 class="card-title">Diğer Mesajlar</h3>

            <div class="card-tools">


            </div>

        </div>

        <div class="card-body p-0">

            <ul class="nav nav-pills flex-column">

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-danger"></i>

                        Sosyal Medya Mesajları

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-warning"></i> GitHub

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-primary"></i>

                        LinkedIn

                    </a>

                </li>

            </ul>

        </div>

        <!-- /.card-body -->

    </div>

    <!-- /.card -->

</div>

