body {

    width: 100%;
}

.tablo1 {
    text-align: center;
}

#tableDiv {
    padding: 2em 3em 0 3em;
}

#cdescp {
    max-width: 300px;
}

#settings {
    max-width: 110px;
}

#sil {
    padding: 1.15em 0em 1.22em 0em;
    width: 70px;
}

#cStatus {
    padding-bottom: 0.47em;
    width: 75px;
}

#btn1 {
    padding: 1em 2em 1em 2em;
}
