@model EntityLayer.Concrete.Contact

@{
    ViewBag.Title = "GetContactDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{

    ViewBag.Title = "MessageDetails";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



<!DOCTYPE html>

<html>

<body style="padding:1em 3em 0em 3em" class="hold-transition sidebar-mini">



    <!-- Content Header (Page header) -->

    <section class="content-header">
    </section>

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">

                    <a href="compose.html" class="btn btn-primary btn-block mb-3">Yeni Mesaj</a>

                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">Klsörler</h3>
                        </div>

                        <div class="card-body p-0">

                            <ul class="nav nav-pills flex-column">

                                <li class="nav-item active">

                                    <a href="#" class="nav-link">

                                        <i class="fas fa-inbox"></i> Gelen Kutusu

                                        <span class="badge bg-primary float-right">12</span>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-envelope"></i> Gönderilenler

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-file-alt"></i> Taslaklar

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="fas fa-filter"></i> Çöp Kutusu

                                        <span class="badge bg-warning float-right">65</span>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-trash-alt"></i> Arşiv

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                    <div class="card">

                        <div class="card-header">

                            <h3 class="card-title">Diğer Mesajlar</h3>

                            <div class="card-tools">


                            </div>

                        </div>

                        <div class="card-body p-0">

                            <ul class="nav nav-pills flex-column">

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-danger"></i>

                                        Sosyal Medya Mesajları

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-warning"></i> GitHub

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="#" class="nav-link">

                                        <i class="far fa-circle text-primary"></i>

                                        LinkedIn

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                </div>


                <!-- /.col -->

                <div class="col-md-9">

                    <div class="card card-primary card-outline">

                        <div class="card-header">

                            <h3 class="card-title" style="font-weight:bolder">@Model.Subject</h3>


                        </div>

                        <!-- /.card-header -->

                        <div class="card-body p-0">
                
                                <div  style="padding-left:2em" class="mailbox-read-info">



                                    <h5 class="text-bold">@Model.Username</h5>

                                    <h6 class="text-primary">
                                   @Model.UserMail
                                        <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span>
                                    </h6>
                                </div>

                                <!-- /.mailbox-read-info -->

                                <div class="mailbox-controls with-border text-center">

                                    <div class="btn-group">

                                        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">

                                            <i class="far fa-trash-alt"></i>

                                        </button>

                                        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">

                                            <i class="fas fa-reply"></i>

                                        </button>

                                        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">

                                            <i class="fas fa-share"></i>

                                        </button>

                                    </div>

                                    <!-- /.btn-group -->

                                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">

                                        <i class="fas fa-print"></i>

                                    </button>

                                </div>

                                <!-- /.mailbox-controls -->

                                <div  style="padding-left:2em" class="mailbox-read-message">
                                    <p>@Model.Message</p>
                                </div>

                                <!-- /.mailbox-read-message -->
                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">

                            <div class="float-right">

                                <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</button>

                                <button type="button" class="btn btn-default"><i class="fas fa-share"></i> İlet</button>

                            </div>

                            <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>

                            <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>

                        </div>

                        <!-- /.card-footer -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div>

    </section>

</body>

</html>



