@{
    Layout = null;


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/voler-master/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <style>
        body {
            font-weight: 400;
        }

        .vd {
            color: red;
        }

        .field-validation-error {
            color: red;
            font-weight: bold;
            background-color: white;
        }

        .input-validation-error {
            font-weight: bold;
            color: red;
            background-color: azure;
        }

        .page-header {
            background-color: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 28px rgba(0,0,0,.08);
            box-shadow: 0 0 28px rgba(0,0,0,.08);
            margin-bottom: 30px;
            padding: 20px;
        }
        .pagination {
            margin-bottom: 5em;
            text-align: center !important;
            display: block;
        }

            .pagination li {
                margin-right: 2px;
                margin-bottom: 3px;
                display: inline-block;
            }

                .pagination li a {
                    border-radius: 50% !important;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    text-align: center;
                }

                    .pagination li a:focus, .pagination li a:active {
                        -webkit-box-shadow: none !important;
                        box-shadow: none !important;
                    }

                    .pagination li a:hover {
                        background: #2f89fc;
                        color: #fff;
                        border: 1px solid transparent;
                    }

                .pagination li.active a {
                    border: 1px solid transparent !important;
                }
    </style>

</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-menu">
                    <ul style="margin-top:0.2em" class="menu">
                        <li class='sidebar-title'>Admin Menu</li>
                        @if (User.IsInRole("A"))
                        {
                            <li class="sidebar-item  ">
                                <a href="/AdminCategory/Index" class='sidebar-link'>
                                    <i data-feather="briefcase" width="20"></i>
                                    <span>Kategoriler</span>
                                </a>
                            </li>
                        }
                        <li class="sidebar-item ">
                            <a href="/Heading/Index" class='sidebar-link'>
                                <i data-feather="align-justify" width="20"></i>
                                <span>Başlıklar</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Writer/Index" class='sidebar-link'>
                                <i data-feather="users" width="20"></i>
                                <span>Yazarlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub ">
                            <a href="#" class='sidebar-link'>
                                <i data-feather="bar-chart-2" width="20"></i>
                                <span>Grafikler</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item ">
                            <a href="form-layout.html" class='sidebar-link'>
                                <i data-feather="info" width="20"></i>
                                <span>Hakkımızda</span>
                            </a>
                        </li>*@
                        <li class="sidebar-item  ">
                            <a href="/Contact/Index" class='sidebar-link'>
                                <i data-feather="mail" width="20"></i>
                                <span>İletişim & Mesajlarım</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i data-feather="edit" width="20"></i>
                                <span>Yazılar</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i data-feather="activity" width="20"></i>
                                <span>Yetkilendirme</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Gallery/Index" class='sidebar-link'>
                                <i data-feather="book-open" width="20"></i>
                                <span>Galeri</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i data-feather="alert-triangle" width="20"></i>
                                <span>Hata Sayfaları</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Login/LogOut" class='sidebar-link'>
                                <i data-feather="log-out" width="20"></i>
                                <p class='sidebar-title'>Çıkış Yap</p>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
</body>
</html>

