@{
    Layout = null;


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazar</title>
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/voler-master/dist/assets/css/app.css">
    <link rel="shortcut icon" href="~/voler-master/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <style>
        body {
            font-weight: 400;
        }

        .vd {
            color: red;
        }

        .field-validation-error {
            color: red;
            font-weight: bold;
            background-color: white;
        }

        .input-validation-error {
            font-weight: bold;
            color: red;
            background-color: azure;
        }

        .page-header {
            background-color: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 28px rgba(0,0,0,.08);
            box-shadow: 0 0 28px rgba(0,0,0,.08);
            margin-bottom: 30px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-menu">
                    <ul style="margin-top:0.2em" class="menu">
                        <li class='sidebar-title'>Admin Menu</li>
                        <li class="sidebar-item  ">
                            <a href="/AdminCategory/Index" class='sidebar-link'>
                                <i data-feather="user" width="20"></i>
                                <span>Profilim</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/WriterPanel/MyHeadings" class='sidebar-link'>
                                <i data-feather="align-justify" width="20"></i>
                                <span>Başlıklarım</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Kategoriler</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="" class='sidebar-link'>
                                <i data-feather="mail" width="20"></i>
                                <span>Mesajlar</span>
                            </a>
                        </li>
                    
                        <li class="sidebar-item">
                            <a href="table-datatable.html" class='sidebar-link'>
                                <i data-feather="log-out" width="20"></i>
                                <p class='sidebar-title'>Çıkış Yap</p>
                                <i data-feather="log-out" width="20"></i>
                                <p class='sidebar-title'>Siteye Git</p>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/voler-master/dist/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/voler-master/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/voler-master/dist/assets/js/app.js"></script>
    <script src="~/voler-master/dist/assets/js/main.js"></script>
</body>
</html>

